$gray: #aaa;
$doubanGreen: #42bd56;

.gray{
  color: $gray;
}
.horizontal-list{
  overflow: hidden;
  padding-top: 10px;

  header{
    display: flex;
    justify-content: space-between;
    padding: 0 1.12rem;

    h2{
      font-size: 1.06rem;
      font-weight: normal;
    }
    a{
      color: #42bd56;
      font-size: .9rem;
    }
  }
  .items{
    white-space: nowrap;
    padding: 15px 0 20px 0;
    overflow-x: auto;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  .item{
    display: inline-block;
    width:100px;
    margin-left: 0.48rem;
    text-align: center;

    &:first-child{
      margin-left: 1.12rem;
    }

    &:last-child{
      margin-right: 1.12rem;
    }
  }
  .item-poster{
    display: inline-block;
    width:100%;
    height: 140px;
  }
  .item-title{
    margin-top: .6rem;
    font-size: .94rem;
    overflow: hidden;
  }
}

.details {
  section{
    padding: 23px 18px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.1);
  }
  .poster{
    text-align: center;
    img{
      max-width:100px;
    }
  }
}
